body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url(../images/icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}