.places {
    text-align: center;
  }
  .places h1 {
    font-size: 30px;
    text-align: left;
    font-size: 30px;
}
article{
    width: 390px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F;
    border-radius: 4px;
}
article h2{  
    font-size: 30px;
    /* display: inline-block;
    padding: 20px;
    margin: auto;
    position: relative;
    margin-left: auto;
    background-color: black; */
}
